Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
school_of_fish.sln
school_of_fish.userprefs
Assets/TeacherPanelText.cs.meta
Assets/StreamingAssets/build_info.txt.meta
